.tos-tk, .tos-ts, .tos-ti, .tos-tp, .tos-rt {
	background-color: #dff0d8;
}

.tos-ms, .tos-mk, .tos-md, .tos-rm {
	background-color: #f2dede;
}

.tos-nb, .tos-nk, .tos-ne {
	background-color: #dddddd;
}